apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
        - name: backend-api
          image: 404457776061.dkr.ecr.ap-northeast-2.amazonaws.com/backend-api:latest
          command: ["uvicorn"]
          args:
            - main:app
            - --host
            - 0.0.0.0
            - --port
            - "8000"
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: backend-api-config
            - secretRef:
                name: backend-api-secret
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
