apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: 404457776061.dkr.ecr.ap-northeast-2.amazonaws.com/order-service:cd29ef94a1b80fc66e92d1054adad330c6639e5a
          ports:
            - containerPort: 8000
