apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: 404457776061.dkr.ecr.ap-northeast-2.amazonaws.com/product-service:e66850e42121159146ebda4c73b0fd4707682d6a
          ports:
            - containerPort: 8000
